.py[cod]
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pdm-python

__pycache__/
website/__pycache__/
website/tools/__pycache__/
.pytest_cache

src/heroes
src/config.json
src/Data
src/website/database.db

log
tests
.venv
**.egg-info/
build
app/secrets/*
