{% extends "base.html" %} {% block head_additions %}
<link rel="stylesheet" href="../static/styles/overview.css" />
{% endblock %} {% block title %}Overview{% endblock %} {% block content %}
<h1>Heroes Overview</h1>
<input
    type="hidden"
    id="csrf_token"
    name="csrf_token"
    value="{{ csrf_token() }}"
/>
<section class="my-4">
    <p>Upload new heroes:</p>
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="input-group">
            {{ form.files(class="form-control") }} {{ form.hidden_tag() }} {{
            form.submit(class="input-group-text") }}
        </div>
    </form>
</section>
<hr class="mx-auto my-5" />
<h4 class="mb-0">Your heroes:</h4>
<div class="d-grid gap-3 pt-3">
    {% for hero in user.heroes %}
    <div class="p-2 bg-light border rounded hero-deletable" role="hero">
        <h5 class="mb-0">
            <a class="btn" type="button" href="{{ url_for('views.hero_display', hero_name=hero.secure_name) }}">{{ hero.name }}</a>
        <input
            type="button"
            class="btn-close btn-delete-hero"
            id="{{ hero.secure_name }}"
        />
    </div>
    {% endfor %}
</div>
<br />

{% endblock %} {% block additional_scripts %}
<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/overview.js') }}"
></script>
{% endblock %}
