<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:title" content="BDSM - Browser DSA Stat Manager" />
        <meta
            property="og:description"
            content="Helps you keep track of all your DSA character stats while playing"
        />
        <meta
            property="og:image"
            content="https://bdsm.hans.li/static/assets/w-font.png"
        />
        <meta property="og:url" content="https://bdsm.hans.li/home" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />

        <link rel="stylesheet" href="../static/styles/base.css" />
        <link rel="icon" href="../static/assets/w-font.png" />
        {% block head_additions %}{% endblock %}
        <title>{% block title %}Base{% endblock %}</title>
    </head>

    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav mx-auto">
                        <a class="nav-link" href="/">Home</a>
                        {% if user.is_authenticated %}
                        <a
                            class="nav-link"
                            href="/overview"
                            aria-current="page"
                            id="nav-link-overview"
                            >Overview</a
                        >
                        <a class="nav-link" href="/play" id="nav-link-play"
                            >Play</a
                        >
                        <a
                            class="nav-link"
                            href="/account"
                            id="nav-link-account"
                            >Account</a
                        >
                        <a class="nav-link" href="/logout" id="nav-link-log_out"
                            >Log out</a
                        >
                        {% if user.username == "admin" %}
                        <a
                            class="nav-link"
                            href="/admin-panel"
                            aria-current="page"
                            id="nav-link-overview"
                            >Admin panel</a
                        >
                        {% endif %} {% else %}
                        <a
                            class="nav-link"
                            id="login"
                            href="/login"
                            id="nav-link-login"
                            >Login</a
                        >
                        <a
                            class="nav-link"
                            id="sign-up"
                            href="/sign-up"
                            id="nav-link-sign_up"
                            >Sign up</a
                        >
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages%} {% if category ==
        'error' %}
        <div
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
        >
            {{ message }}
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
            ></button>
        </div>
        {% else %}
        <div
            class="alert alert-success alert-dismissible fade show"
            role="alert"
        >
            {{ message }}
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
            ></button>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}

        <main class="container-temp mb-2">
            {% block content %} {% endblock %}
        </main>

        <footer class="footer bg-dark mt-auto">
            <p class="text-center pt-3 mb-0">
                If you would like to help improve this project, please leave a
                message on
                <a
                    href="https://github.com/Jave01/BDSM/tree/main/"
                    target="_blank"
                    class="text-decoration-none"
                    >Github
                </a>
            </p>
            <p class="text-center pb-3">
                or
                <a href="mailto:dev@hans.li" target="_blank"
                    >send me a message</a
                >
            </p>
        </footer>

        <script src="../static/js/jquery-3.6.1.min.js"></script>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='js/base.js') }}"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
        {% block additional_scripts %}{% endblock %}
    </body>
</html>
