{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container text-center">
    <h1>Browser DSA stat manager</h1>
    <img src="../static/assets/logo_b.svg" width="30%" alt="BDSM Logo" />
    <h3>One tool to rule them all</h3>
    <br />
    <h4>Note:</h4>
    <p>
        This is a very early (and experimental) release of BDSM. There is the
        possibility to lose all the data you created on this website inkl. your
        Account.
        <br />
        Also don't use your everyday password here.
    </p>
</div>
<br />
{% endblock %}
