{% extends "base.html" %} {% block head_additions %}
<link href="../static/auth.css" rel="stylesheet" />
{% endblock %} {% block title %}Sign up{% endblock %} {% block content %}
<main class="form-signin w-100 m-auto text-center">
  <form method="post">
    <img
      class="mb-4"
      src="../static/assets/logo_b.svg"
      src=""
      alt=""
      width="72"
      height="57"
    />
    <h1 class="h3 mb-3 fw-normal">Sign up</h1>

    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        name="username"
        placeholder="username"
      />
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        name="password"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="confPassword"
        name="confPassword"
        placeholder="Password"
      />
      <label for="confPassword">Confirm password</label>
    </div>
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="accessCode"
        name="accessCode"
        placeholder="Access code"
      />
      <label for="accessCode">Access code</label>
    </div>
    <br />
    <button class="w-100 btn btn-lg btn-dark" type="submit">Sign up</button>
  </form>
</main>
</form>
{% endblock %}
