input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.stat-container {
    border: 1px solid grey;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 0;
}

.effect-level {
    width: 80%;
}

.effect-level:focus {
    outline: none;
}

.hero-selection {
    margin-bottom: 2rem;
}

.liturgy {
    align-content: center;
    padding: 0.5rem 0;
}

.liturgy:hover {
    outline: 1px solid brown;
}
